*
{
    color: #000826;
    color: #151E3F;
    color: #D7DDF2;
    color: #8194DB;
    color: #6E80C1;
    link: https://coolors.co/151e3f-000826-d7ddf2-8194db-6e80c1;
}

*
{
    link2: https://coolors.co/102542-f87060-cdd7d6-b3a394-ffffff;
    link: https://coolors.co/102542-d6584a-4d5151-b3a394-ffffff;
}